@font-face {
    font-family: "REGULAR";
    src: url("/Font/AmerigoBT.woff2") format("woff2");
}

@font-face {
    font-family: "BOLD";
    src: url("/Font/AmerigoBT_Bold.woff2") format("woff2");
}

body{
background-image: url(/Bilder/Himmel.png);
background-repeat: no-repeat;
background-size: 125em;

}

h1{
    color: black;
    font-family: "BOLD";
    font-size: 10vw;
}

h2{
    color: black;
    font-family: "BOLD";
    font-size: 2vw;   
}

.Himmel{   
transform: scale(1)
    
}